<!DOCTYPE html>
<html>
<head>
    <title>Blockchain</title>
</head>
<body>
    <h1>Blockchain</h1>
    <table>
        <tr>
            <th>Index</th>
            <th>Timestamp</th>
            <th>Data</th>
            <th>Previous Hash</th>
            <th>Current Hash</th>
        </tr>
        {% for block in blocks %}
        <tr>
            <td>{{ block.index }}</td>
            <td>{{ block.timestamp }}</td>
            <td>{{ block.data }}</td>
            <td>{{ block.previous_hash }}</td>
            <td>{{ block.current_hash }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'blockchain:add_block' %}">Add Block</a>
</body>
</html>
